.btn {
  width: 420px;
  background-color: rgb(255, 220, 65);
  margin: 10px;
  box-sizing: border-box;
  padding: 5px 10px;
  height: 30px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(204, 176, 49);
}
